/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reference for CSS reset: meyerweb.com  (https://meyerweb.com/eric/tools/css/reset/) */






html {
    font-family: 'Open Sans', sans-serif;
}

header {
   justify-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(180deg, rgb(62, 113, 254),rgba(74, 122, 255, 0.863), rgb(158, 205, 254) );
    animation: animateBackground 6s ease-in-out infinite;
}

@keyframes animateBackground {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}

header {
    display: flex;
}

#logo {
    width: 20vw;
    min-width: 300px;
}

.panel {
    background-color: white;
    border-radius: 15px;
    padding: 15px 25px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid rgb(225, 241, 255);
}
.pricing-plan:last-child {
    border-bottom:none ;
}

.pricing-img {
    margin-bottom: 25px;
    margin-top: 15px;
    height: 9.7vh;
    min-height: 90px;
    width: auto;
}

.pricing-header {
    color: rgb(134, 134, 134);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 2px;
}

.pricing-features {
    margin: 50px 0 25px;
    color: 	rgb(1, 111, 249);
    list-style: none;
}

.pricing-features-item {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.4;
    padding: 15px 0;
    border-top: 1px solid rgb(225, 241, 255);
}

.pricing-features-item:last-child {
    border-bottom: 1px solid rgb(225, 241, 255);

}

.pricing-price {
    color: rgb(1, 111, 249);
    display: block;
    font-size: 25px;
    font-weight: 700;
}

.asterisk {
    font-size: 12px ;
}

.pricing-button {
    border: 1px solid 	rgb(157, 209, 255);
    border-radius: 10px;
    color: 	rgb(52, 142, 254);
    display: inline-block;
    padding: 12px 40px;
    text-decoration: none;
    margin: 25px 0;
    transition: .15s ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
    background-color: #e1f1ff;
}

.pricing-button.is-featured {
    background-color: 	rgb(72, 170, 255);
    color: white;
    padding: 12px 40px;

}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus {
    background-color:	rgb(38, 139, 255);
}

.purchase-condition {
    display: block;
    font-size: 8px;
    letter-spacing: 1px;
    color: rgb(52, 142, 254);
    margin-bottom: 15px;
}

@media (min-width: 900px){
    .panel {
        flex-direction: row;

        width: 80%;
        max-width: 1100px;
        display: flex;
        text-align: center;
        text-transform: uppercase;
    }
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        padding: 25px 50px;
        width: 33.3%;

    }
    .pricing-plan:last-child {
        border-right: none;
    }

}